body {
    display: flex;
    flex-direction: column;

}

.header{
    color: white;
    display: flex;
    flex-direction: column;
    background-color: #5d5c5c;
}

.headContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
}


ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap:16px;
}
a{
    text-decoration: none;
    color: white;
}


.cardSection{
    background-color: #0c1821;
}


.quoteSection {
    background-color: #1b2a41;
}

.footer {
    background-color: #324a5f;

}